nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}

.nav-left .logo {
  width: 37px;
  /* height: 37px; */
  /* display: flex;
  align-items: center; */
}

.logo-home-page a {
  display: flex;
  align-items: center;
  /* gap: 8px; */
}

.logo-home-page h4 {
  font-family: Arial, sans-serif;
  font-style: italic; /* font chữ nghiêng */
  font-weight: bold;
  text-transform: uppercase; /* font chữ hoa */
  font-size: 18px;
  margin: 0; /* bỏ default marin của thẻ h4 */
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}

.voice-search {
  width: 18px;
  margin-left: -10px;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
}
